/* object-fit: cover
this is for our images on both the home page and detail page */

.overlay {
background-color: rgb(79, 4, 4);
}

#sideNav {
  background-color: #e5f9dd;
  width: 25rem;
  height: 15rem;
  margin-left: 120px;
  border-radius: 10px;
  margin-top: 50px;
  
}

.card-style {
    border: 10px solid #48ff00;
}