/* object-fit: cover
this is for our images on both the home page and detail page */


#sideNav {
  background-color: #e5f9dd;
  width: 25rem;
  height: 15rem;
  margin-left: 120px;
  border-radius: 10px;
  margin-top: 50px;
  
}

.overlay{
  width:100%;
  position:absolute; /*You may also use fixed depending on your needs.*/
  left:0;
  top:0; /*If you want it at the bottom you probably want bottom:0 instead*/
  z-index: 999;
  }

#button-38 {
  /*background-color: #ffffff;*/
  border: none;
  border-radius: .5rem; 
  box-sizing: border-box;
  color: #000000;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  /* box-shadow: 0px 1px 1px 0 rgba(47, 47, 47, 0.408); */
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  outline: none;
  background-color: #e5f9dd00;
  margin-right: 30px;
  margin-left: 30px;
}

#button-38:hover {
  background-color: #b6d6a9;
}

#button-38:focus {
  outline: none !important;
  box-shadow: none;
  background-color: rgba(194, 251, 205, 0.421);
}
#button-38:focus-visible {
  outline: none;
  box-shadow: none;
  background-color: rgba(194, 251, 205, 0.421);
}