/* .box1, .box2, .box3, .box4, .box5, .box6, .box6, .box8, .box9, .box10, .box11, .box12{
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    height: 200px;
    max-height: 35vh;
    -webkit-box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
    box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3)
} */

.box{
    margin: 20px;
}

.grid{
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid > div{
    flex-basis: calc(33.3333333%-40px);
}

.roomfac {
    display: flex;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    justify-content: center;
}


.image-container {
    height: 25vh;
    width: 25vw;
    max-width: 267px;
    max-height: 262px;
}

.card_container {
    width: 23vw;
    height: 23vh;
}

#button-38 {
    /*background-color: #ffffff;*/
    border: none;
    border-radius: .5rem; 
    box-sizing: border-box;
    color: #000000;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    /* box-shadow: 0px 1px 1px 0 rgba(47, 47, 47, 0.408); */
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    outline: none;
    background-color: #e5f9dd00;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  #button-38:hover {
    background-color: #b6d6a9;
  }
  
  #button-38:focus {
    outline: none !important;
    box-shadow: none;
    background-color: rgba(194, 251, 205, 0.421);
  }
  #button-38:focus-visible {
    outline: none;
    box-shadow: none;
    background-color: rgba(194, 251, 205, 0.421);
  }